#cover {
  text-align: center;
  font-family: 'Verdana';
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  #mainCanvas {
    background-color: white;
    border: 5px solid rgb(0, 102, 128);
  } 
}
